@model SearchQueryCustomerDTO

@{
    ViewData["Title"] = "Buscar Cliente";
    int totalRegistros = (int)ViewBag.CountRow;
    int totalPaginas = (int)Math.Ceiling((double)totalRegistros / Model.Take);
    int inicio = Model.Skip + 1;
    int fin = Math.Min(Model.Skip + Model.Take, totalRegistros);
}


<hr class="mb-6" />

<div class="bg-white p-6 rounded-lg shadow-sm">
    <form asp-action="Index">
        <div asp-validation-summary="ModelOnly" class="text-red-500 mb-4"></div>
        <input asp-for="SendRowCount" type="hidden" id="txtSendRowCount" />
        <input asp-for="Skip" type="hidden" id="txtSkip" />
        <input name="CountRow" value="@totalRegistros" type="hidden" />

        <!-- Filtros de búsqueda -->
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-4">
            <div class="form-group">
                <label asp-for="Name_Like" class="block text-gray-700">Nombre</label>
                <input asp-for="Name_Like" class="form-control p-2 border border-gray-300 rounded-md w-full" />
                <span asp-validation-for="Name_Like" class="text-red-500"></span>
            </div>

            <div class="form-group">
                <label asp-for="LastName_Like" class="block text-gray-700">Apellido</label>
                <input asp-for="LastName_Like" class="form-control p-2 border border-gray-300 rounded-md w-full" />
                <span asp-validation-for="LastName_Like" class="text-red-500"></span>
            </div>

            <div class="form-group">
                <label asp-for="Take" class="block text-gray-700">Mostrar</label>
                <select asp-for="Take" class="form-control p-2 border border-gray-300 rounded-md w-full">
                    @for (var i = 10; i < 1000; i += 10)
                    {
                        if (i == Model.Take)
                        {
                            <option selected value="@i">@i</option>
                        }
                        else
                        {
                            <option value="@i">@i</option>
                        }
                    }
                </select>
                <span asp-validation-for="Take" class="text-red-500"></span>
            </div>
        </div>

        <!-- Botones -->
        <div class="flex space-x-4 mb-4">
            <input type="submit" id="btnSearch" value="Buscar" class="btn btn-primary bg-blue-500 text-white py-2 px-6 rounded-md cursor-pointer hover:bg-blue-600" />
            <a asp-action="Create" class="btn btn-primary bg-green-500 text-white py-2 px-6 rounded-md cursor-pointer hover:bg-green-600">Ir Crear</a>
        </div>

        <!-- Paginación -->
        <div class="overflow-auto">
            <nav aria-label="Page navigation example">
                <ul class="pagination flex justify-center space-x-2">
                    @{
                        int skipAnte = Model.Skip > 0 ? Model.Skip - Model.Take : 0;
                        int skipMax = 0;
                    }
                    <li class="page-item">
                        <a class="page-link bg-gray-300 text-gray-700 hover:bg-gray-400 p-2 rounded-md" data-skip="@skipAnte" href="#" onclick="paginacion(this)">Anterior</a>
                    </li>

                    @for (var i = 0; i < totalPaginas; i++)
                    {
                        int skip = i * Model.Take;
                        int numPag = i + 1;
                        if (skip != Model.Skip)
                        {
                            <li class="page-item">
                                <a class="page-link bg-gray-300 text-gray-700 hover:bg-gray-400 p-2 rounded-md" data-skip="@skip" href="#" onclick="paginacion(this)">@numPag</a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="page-link bg-blue-500 text-white p-2 rounded-md" data-skip="@skip" href="#" onclick="paginacion(this)">@numPag</a>
                            </li>
                        }
                        skipMax = skip;
                    }

                    @{
                        int skipSi = Model.Skip + Model.Take;
                        skipSi = skipSi > skipMax ? skipSi - Model.Take : skipSi;
                    }
                    <li class="page-item">
                        <a class="page-link bg-gray-300 text-gray-700 hover:bg-gray-400 p-2 rounded-md" data-skip="@skipSi" href="#" onclick="paginacion(this)">Siguiente</a>
                    </li>
                </ul>
            </nav>
        </div>

        <!-- Total de registros -->
        <div class="mt-4">
            <span class="text-gray-700">Total registros: @totalRegistros</span>
        </div>
    </form>
</div>

<script>
    function paginacion(li) {
        const skip = li.getAttribute("data-skip");
        const btnSearch = document.getElementById("btnSearch");
        const txtSkip = document.getElementById("txtSkip");
        const txtSendRowCount = document.getElementById("txtSendRowCount");
        txtSkip.value = skip;
        txtSendRowCount.value = 1;
        btnSearch.click();
    }
</script>

